openapi: 3.0.0

info:
        version: 1.0.0
        title: The Trading License Department API
        description: Back end API for TLD license application and review
        contact:
                name: Lewis Stokes
                email: stokesl4@coventry.ac.uk
        license:
                name: Apache 2.0
                url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
        - url: 'https://swim-armani-3000.codio-box.uk/api/v1'
          description: Development server

tags:
        - name: Users
          description: Endpoints for user manipulation

        - name: Applications
          description: Endpoints for license application manipulation

paths:
        /users/:
                summary: Represents user resource
                description: >
                       This resource represents user resources stored wtihin the database.
                get:
                        tags:
                                - Users
                        description:
                                Retrieve all users from database.
                        responses:
                                '200':
                                        description: All users retrieved
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./user.json#/definitions/allUsersRetrieved
                                '403':
                                        description: User does not have the necessary permissions to perform this action.
                                '500':
                                        description: Internal Server Error.
                                
                post:
                        tags:
                                - Users
                        description:
                                Create a new user account.
                        requestBody:
                                description: New user data to be added to the datastore.
                                required: true
                                content:
                                        application/json:
                                                schema:
                                                        $ref: ./user.json#/definitions/user
                        responses:
                                '201':
                                        description: User created successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./user.json#/definitions/userEdited
                                '500':
                                        description: user not created due to internal server error.

        /users/{id}:
                parameters:
                        - in: path
                          name: id
                          schema:
                                  type: integer
                          required: true
                          description: id of user account
                get:
                        tags:
                                - Users
                        description:
                                Get user by id
                        
                        responses:
                                '200':
                                        description: User data and role returned.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./user.json#/definitions/userRetrieved
                                '403':
                                        description: Requesting user lacks the necessary permissions to view this record.
                                '404':
                                        description: User was not found in the DB.
                                '500':
                                        description: Internal Server Error - Failed to retrieve user.

                put:
                        tags:
                                - Users
                        description:
                                Update user by id
                        responses:
                                '200':
                                        description: User updated successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./user.json#/definitions/userEdited

                                '403':
                                        description: User lacks the necessary permissions to update this record.
                                '404':
                                        description: User record not found.
                                '500':
                                        description: Internal Server Error - Failed to update user.
                delete:
                        tags:
                                - Users
                        description:
                                Remove user by id
                        responses:
                                '200':
                                        description: User account deleted successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./user.json#/definitions/userEdited

                                '403':
                                        description: User lacks the necessary permissions to delete this record.
                                '404':
                                        description: User record not found.
                                '500':
                                        description: Internal Server Error - Failed to delete user.

        /users/login:
                 post:
                         tags:
                                 - Users
                         description:
                                 Get backend state information for user login details
                         response:
                                 '200':
                                         description: Client successfull retrieved log in information for log in functionality
                                         content:
                                                 application/json:
                                                         schema:
                                                                 $ref: ./user.json#/definitions/userRetreived
        /users/role/{id}:
                parameters:
                        - in: path
                          name: id
                          schema:
                                  type: integer
                          required: true
                          description: id of user account
                post:
                        tags:
                                - Users
                        description:
                                Represents roles assigned to user
                        responses:
                                '200':
                                        description: Role successfully assigned to user.
                                '403':
                                        description: User lacks the necessary permissions to change roles
                                '404':
                                        description: Role could not be found
                                '500':
                                        description: Internal Server Error - Failed to assign role


        /apps/:
                summary: Represents license application resource
                description: >
                       This resource represents license application resources stored within the database.
                get:
                        tags:
                                - Applications
                        description:
                                Retrieve all license applications from database.
                        responses:
                                '200':
                                        description: All license applications retrieved
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/allAppsRetrieved
                                '403':
                                        description: User does not have the necessary permissions to perform this action.
                                '500':
                                        description: Internal Server Error.
                                
                post:
                        tags:
                                - Applications
                        description:
                                Create a license application.
                        requestBody:
                                description: New license application data to be added to the datastore.
                                required: true
                                content:
                                        application/json:
                                                schema:
                                                        $ref: ./app.json#/definitions/application
                        responses:
                                '201':
                                        description: Application created successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/applicationCreated
                                '500':
                                        description: Application not created due to internal server error.
        /apps/user/{id}:
                parameters:
                        - in: path
                          name: id
                          schema:
                                  type: integer
                          required: true
                          description: id of user to search against.
                get:
                        tags:
                                - Applications
                        description:
                                Get all license applications made by user
                        
                        responses:
                                '200':
                                        description: License applications returned.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/application
                                '403':
                                        description: Requesting user lacks the necessary permissions to view this record.
                                '404':
                                        description: No license applications were found in the DB.
                                '500':
                                        description: Internal Server Error - Failed to retrieve applications.


        /apps/{id}:
                parameters:
                        - in: path
                          name: id
                          schema:
                                  type: integer
                          required: true
                          description: id of license application.
                get:
                        tags:
                                - Applications
                        description:
                                Get license application by ID
                        
                        responses:
                                '200':
                                        description: License application returned.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/application
                                '403':
                                        description: Requesting user lacks the necessary permissions to view this record.
                                '404':
                                        description: License application was not found in the DB.
                                '500':
                                        description: Internal Server Error - Failed to retrieve application.

                put:
                        tags:
                                - Applications
                        description:
                                Update license application by id
                        responses:
                                '200':
                                        description: Application updated successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/applicationCreated

                                '403':
                                        description: User lacks the necessary permissions to update this record.
                                '404':
                                        description: License application was not found in the DB.
                                '500':
                                        description: Internal Server Error - Failed to update application.
                delete:
                        tags:
                                - Applications
                        description:
                                Remove license application by id
                        responses:
                                '200':
                                        description: License application deleted successfully.
                                        content:
                                                application/json:
                                                        schema:
                                                                $ref: ./app.json#/definitions/applicationCreated

                                '403':
                                        description: User lacks the necessary permissions to delete this record.
                                '404':
                                        description: License application was not found in the DB.
                                '500':
                                        description: Internal Server Error - Failed to delete application.

